@charset "UTF-8";
@import "http://fonts.googleapis.com/css?family=Enriqueta&subset=latin,latin-ext#";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-print-color-adjust: economy;
 }

.clear {
	clear: both;
}

.hide {
	visibility: hidden;
}

body{
	/*font-family: 'Crimson Text', Georgia, Times, serif;*/
	/*font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;*/
	font-family: "Palatino Linotype","Georgia",serif;
    /*font-size: 1.2em;*/
    /*line-height: 25px;*/
	text-align: center;
	background-color: gray;
}

h1, h2 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

a {
	color: #666666; 
}

a:hover {
    color: #B6090B !important;
}

#page-wrapper {	
	width: 1200px;
	text-align: left;
	margin: 0 auto;
	background-color: white;
}

#page-content {
	padding: 3em;
	font-size: 1.4em;
}


header {
	position: relative;
}

figure {
	padding: 0;
	margin: 0;
}

header > figure#profile-photo {
	position:relative;
	float: left;
	margin: 2em;
	z-index: 5;
}
	header > figure#profile-photo > img {
    	border: 0.2em solid rgb(113,113,113);
	}


header>h1{
	float: left; display: block;
	width:75%;
	font-size: 3.5em; text-align: center; color: rgb(113,113,113); 
    line-height: 65px;
	margin: 0.9em 0 0 0; padding: 0;
}

header > #contact {
	position: absolute;
	display: block;
	width: 100%;
	background-color: rgb(165,195,107);
    border: 0.2em solid rgb(113,113,113); border-left: none; border-right: none;
	top:8em;
	z-index: 2;
	/*float:left;*/
}
	header > #contact > ul {
		position: relative;
		-webkit-height: 3em;
		-moz-height: 3em;
		-ms-height: 3em;
		-o-height: 3em;
		height: 3em;
	}
		header > #contact > ul > li {
			position: absolute; top: 0.5em;
			list-style-type: none;
			background-color: rgb(113,113,113); color: rgb(233,240,218);
			text-align: center; 
			border: 1px solid rgb(233,240,218);
			padding: 0.3em 0.5em;
		}
		header > #contact > ul > li.icon {
			position: absolute; top: 0.8em;
			background: none;
			padding: 0;
			margin: 0;
			border: none;
		}

		li#email-canvas{
			position: absolute; left: 19em;
			/*width: 12em;*/
		}
		li#email{
			position: absolute; left: 22em;
			/*width: 12em;*/
		}
		li#phone-canvas{
			position: absolute; left: 39em;
			/*width: 12em;*/
		}
		li#phone{
			position: absolute; left: 42em;
			/*width: 10em;*/
		}
		li#skype-canvas{
			position: absolute; left: 57em;
			/*width: 12em;*/
		}
		li#skype{
			position: absolute; left: 60em;
			/*width: 7em;*/
		}
header>address {
	position: relative; top:8em;
	float: left;

}

section#summary > p {
	text-indent: 3em;
	/*margin: 0 2em;*/
	font-size: 1em;
	text-align: justify;
}

section#summary > footer {
	/*position: relative; left: 15%;	*/
	font-size: 0.9em;
	/*text-align: center;*/
}
	section#summary > footer > ul{
		margin: 0; padding: 0 0 1em 2em;
		list-style-position: outside;
		text-indent: 1em;
	}

section > h2 {
	position: relative;
	left: -3em;
	width: 1200px;
	border: 1px solid black;
	border: 0.1em solid rgb(226,226,226); border-left: none; border-right: none;
	background-color: rgb(233,240,218);
	padding: 0.3em 2em; margin: 2em 0;	
}

.item-subtitle {
	float: left; display: block;
	width: 33%;
	font-size: 0.9em;
}

.item-subtitle > figure {
	float: left;
	margin: 0 2em 1em 0;
}

.item-subtitle > h3 {
	float: left;
	/*width: 50%;*/
	margin: 0; padding: 0;
}

.item-subtitle > a {
	float: left;
	width: 50%;
}

.item-subtitle > address {
	float: left;
	width: 50%;
}

.item-subtitle > em {
	float: left;
	width: 50%;
}

.item-subtitle > .period {
	float: left;
	width: 50%;
}

.item-brief {
	float: left; display: block;
	width: 65%;
	padding: 1em 1em 1em 2.1em;
	border-left: 1px dotted rgb(226,226,226);

}

.item-description {
	position: relative; left: 12%;
	width: 88%;
	padding: 0.5em 0;
}
	.item-description ul {
		margin: 0; padding: 0 2em 1em 2em;
		list-style-position: inside;
	}

.project-item > .item-subtitle {
	width: 43%;
}

.project-item > .item-brief {
	width: 55%;
}

.education-item {
	position: relative; display: block;
	float: left;
	padding: 0 0 1em 0;
}

	.education-item > .item-subtitle {
		position: relative; display: block;
		width: 85%;
	}

	.education-item > .item-brief {
		width: 14%;
	}

#summary li, #experience li, #projects li, #courses li, #languages li, #skills li, #interests li  {
	list-style-type: square;
}

#courses ul, #languages ul {
	margin: 0; padding: 0.5em;
	text-indent: 1em;
}

table {
	border-collapse: collapse;
}

tr {
}

th, td {
	padding: 0.5em;
	border: 1px solid rgb(226,226,226); 
}
	th {
		width: 25%;
	}

	td {
		width: 75%;
	}

#interests ul{
	margin: 0; padding: 0.5em;	
}

	#interests ul li{
		display: inline;
		line-height: 2.5em;
		list-style-type: none; 
		padding: 0.2em; margin: 0 0.5em 0 0;
		background-color: rgb(226,226,226);
		-webkit-border-radius: 10%;
		-moz-border-radius: 10%;
		border-radius: 10%;
	}